body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.submit-link {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

button.submit-link:focus {
  background-color: transparent;
  outline: none;
}
